<div class="page-header">
  <h1>Shares</h1>
</div>

<p><a href="/shares/new" class="btn btn-primary">Add a New Share</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Shareowner</th>
      <th>Sharewith</th>
      <th>Entryid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.each do |share| %>
      <tr>
        <td><%= share.shareowner %></td>
        <td><%= share.sharewith %></td>
        <td><%= share.entryid %></td>
        <td>
          <a href="/shares/<%= share.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/shares/<%= share.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_share/<%= share.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

